streamlit
langchain
langchain-community
langgraph
transformers
huggingface_hub
sentence-transformers
chromadb
sympy
pydantic
python-dotenv
easyocr
opencv-python
pillow
pix2tex
numpy
pdf2image
pytesseract
openai-whisper
soundfile
ffmpeg-python
streamlit-audiorecorder
openai
pydub